@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #575d8a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.graph-element {
  fill: var(--foreground);
  /* border-shadow: 0 0 0 1px var(--foreground); */
}

.grid-spot {
  border: none;
  border: 2px dashed #f0f0f0;
  min-width: calc(10vw);
  min-height: calc(10vw);
  max-width: calc(10vw);
  max-height: calc(10vw);
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-spot-nonadj {
  border: none;
  border: 2px dashed #f0f0f06f;
  min-width: calc(10vw);
  min-height: calc(10vw);
  max-width: calc(10vw);
  max-height: calc(10vw);
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-spot-nonadj:hover {
  border: 2px dashed #f0f0f0; /* Change border on hover for non-adjacent */
}

.grid-spot-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  margin: 0;
  font-weight: thin;
  line-height: 1;
  padding: 0;
}

.grid-spot-nonadj:hover .grid-spot-text {
  opacity: 100%;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: var(--background);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.grid-container {
  display: flex;
  flex-direction: column;
}

.grid-row {
  display: flex;
}
