@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #575d8a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.graph-element {
  fill: var(--foreground);
  /* border-shadow: 0 0 0 1px var(--foreground); */
}

.grid-spot {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-spot-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  margin: 0;
  font-weight: thin;
  line-height: 1;
  padding: 0;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: var(--background);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.grid-container {
  display: flex;
  flex-direction: column;
}

.grid-row {
  display: flex;
}

.grid-spot-content {
  border: 4px dashed #2fc800;
  border-radius: 3px;
}

.grid-spot-content-edit {
  border: 4px dashed #f91313;
  border-radius: 3px;
}
